h1, h2, h3, h4, h5, h6 {
  color: #191919;
  font-family: 'Bree Serif', serif;
  font-weight: 600;
  line-height: 1.65;
  margin: 0 0 1em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  font-family: 'Bree Serif', serif;
  border-bottom: 0;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.35em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.7em;
}


/* Navigation Bar*/
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #243A50;
  font-family: 'Bree Serif', serif;

}

.nav li {
  float: left;
  font-family: 'Bree Serif', serif;

}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Bree Serif', serif;

}

.nav li a:hover {
  background-color: #111;
}

/* Body */
body{
  background-color: #ffff;
}

/* Form */
input[type=text], select {
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Bree Serif', serif;

}

input[type=submit] {
  width: 75%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.signup label  {
  display: inline;
  width:180px;
  clear:left;
  text-align:right;
  padding-right:10px;
  color: #191919;
  font-family: 'Bree Serif', serif;

}

.signup input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Bree Serif', serif;

}

.signup input[type=password] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Bree Serif', serif;

}


.signup input[type=submit] {
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup input[type=text]:focus{
  outline: none;
  border: 2px solid rgba(237, 120, 106, 1);
}
.signup input[type=password]:focus{
  outline: none;
  border: 2px solid rgba(237, 120, 106, 1);
}

.login label  {
  display: inline;
  width:180px;
  clear:left;
  text-align:right;
  padding-right:10px;
  color: #191919;
  font-family: 'Bree Serif', serif;

}

.login input[type=text]{
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Bree Serif', serif;

}

.login input[type=password] {
  width:25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Bree Serif', serif;

}


.login input[type=submit] {
  width: 30%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login input[type=text]:focus{
  outline: none;
  border: 2px solid rgba(237, 120, 106, 1);
}
.login input[type=password]:focus{
  outline: none;
  border: 2px solid rgba(237, 120, 106, 1);
}

::-webkit-input-placeholder {
  color: rgb(49, 88, 127)!important;
  text-align: center;
  font-family: 'Bree Serif', serif;
  opacity: 1.0;
}

.formerize-placeholder {
  color: rgb(49, 88, 127)!important;
  text-align: center;
  opacity: 1.0;
  font-family: 'Bree Serif', serif;

}
/*Modal*/
.modal {
  font-family: 'Bree Serif', serif;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    padding-top: 60px;
    opacity: 1;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.modal-content {
  font-family: 'Bree Serif', serif;
    margin: 10% auto 15% auto;
    border: 1px solid #27272F;
    width: 30%;
    height: 30%;
    padding: 5px 20px 13px 20px;
    background:rgba(39, 39, 47, 0.65);
}

.close {
    position: sticky;
    left: 67%;
    top: 20%;
    color: #000;
    font-size: 40px;
    font-weight: bold;
    line-height: 25px;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Icon */

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon > .label {
  display: none;
}

.icon.alt:before {
  background-color: #ffffff;
  border-radius: 100%;
  color: #242943;
  display: inline-block;
  height: 2em;
  line-height: 2em;
  text-align: center;
  width: 2em;
}

a.icon.alt:before {
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

a.icon.alt:hover:before {
  background-color: #6fc3df;
}

a.icon.alt:active:before {
  background-color: #37a6cb;
}

/* Search */
.search input[type=text] {
  font-family: 'Bree Serif', serif;
    width: 130px;
    height: 10px;
    font-size: 15px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search input[type=text]:focus {
    width: 85%;
}

/* Body */
.section-buttons {
  padding-bottom: 130px;
  background-color: #9cacbd;
}

.box {
    display: inline-block;
    position: relative;
    margin: 1%;
    float: left;
    width: 23%;
    height: 100px;
    background-color: #fff;
}

.box:hover {
  -ms-transform: scale(1.1, 1.1); /* IE 9 */
  -webkit-transform: scale(1.1, 1.1); /* Safari */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.1, 1.1);
}

.box:focus{
  outline: none;
  border: 2px solid rgba(237, 120, 106, 1);
}

.box-text {
  font-family: 'Bree Serif', serif;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 1.2px;
  color: #285f43;
  text-align: center;
  padding: 30px;
  margin: 0;
  position: absolute;
}

.filter-box {
    display: inline-block;
    position: relative;
    margin: 1%;
    float: left;
    width: 250px;
    height: 800px;
    background-color: aliceblue;
}

.filter-text {
  font-family: 'Bree Serif', serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.2px;
  color: #285f43;
  text-align: center;
  padding-top: 30px;
  margin: 0;
}

.filter-text-sub {
  font-family: 'Bree Serif', serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1.2px;
  color: #285f43;
  text-align: center;
  padding-top: 30px;
  margin: 0;
}

.filter{
  font-family: 'Bree Serif', serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

.card {
    transition: 0.3s;
    background-color: aliceblue;
    padding: inherit;
    margin: 10px;
}

/* On mouse-over, add shadow */
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding  */
.container {
    padding: 16px 16px;
}

#priceform {
  padding: inherit;
}


/* Footer */
footer{
  background-color: #3FBF7F;
  padding: 30px;
  position: relative;
  margin-top: -10px; /* negative value of footer height */
  clear: both;
  bottom: 0;
}
/*.footer main {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}*/

#footer .copyright {

  font-size: 0.8em;
  list-style: none;
  padding-left: 0;
}

#footer .copyright li {
  border-left: solid 1px rgba(212, 212, 255, 0.1);
  color: #1919;
  display: inline-block;
  line-height: 1;
  margin-left: 1em;
  padding-left: 1em;
}

#footer .copyright li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

#footer p.left {
  float: left;
}

#footer p.right {
  float: right;
}

td {
  padding-right: 10px !important;
}
